**Functions**

Do the following operations for two numbers and print results +,-,*,/

def -- tells python that you are defining functions
name -- preferably a name that does not already exist for something else
(parameters) -- idenf=tify the different parameters that will be needed for your function

In [ ]:
de calc(a, b): # I have a function called calc which needs

In [2]:
import math
math.exp(1)

2.718281828459045

In [3]:
import math
decible = math.log10(17.0)
print(decible)

1.2304489213782739

In [6]:
def calc(a,b):
  sumup = a + b
  subtraction = a - b
  multiply = a * b
  division = a/ b
  loga = math.log10(a)
  print("sum is:", sumup)
  print("subtraction is:", subtraction)
  print("multiplication is:", multiply)
  print("division is:", division)
  print("log of a is:", loga)

In [7]:
calc(10,5)

sum is: 15
subtraction is: 5
multiplication is: 50
division is: 2.0
log of a is: 1.0

Define a function that takes two numbers "a" and "b" and returns log_b(a)

In [15]:
def calclag(a,b):
  logb = math.log(a,b)
  print("log of b is:",logb)

In [16]:
calclag(2,5)

log of b is: 0.43067655807339306

In [11]:
#Instructors answer
def calclago(a,b):
  print(math.log(a,b))

In [12]:
calclago(2,5)

0.43067655807339306

In [8]:
#combination of math functions
x = math.exp(math.log(10))
print(x)

10.000000000000002

In [17]:
x = calc(10,5)
print(x)

sum is: 15
subtraction is: 5
multiplication is: 50
division is: 2.0
log of a is: 1.0
None

In [18]:
#In the code below, even though x is given the value of 1 inside the function,
#that is only valid inside the function. Outside the function, x = 5
x =5
print("Hello")

def print_oks():
  x =1
  print("ok1")
  print("ok2")

print("yo")
x = x+2
print(x)

Hello
yo
7

In [20]:
x =5
print("Hello")

def print_oks():
  x =1
  print("ok1")
  print("ok2")

print("yo")
x = x+2
print(x)

Hello
yo
7

Arguments:

You can use names of arguments to avoid any errors. If you use name arguments, you don't need to follow the order of the arguments in which the function was written. You can pass the arguments in any order. Just be sure to pass all required arguments.

**TASK:** write a function that takes two inputs "a" and "b" and returns the sum of numbers from a to b inclusive. a= 1, b= 5 returns 1+2+3+4+5 = 15

In [50]:
def calcsum(a=1,b=5):
  sumall = sum(range(a,b + 1))
  #sumall = sum(list(range(a + b)))
  print("sum all is:",sumall)
  return sumall

y = calcsum(1,5)

sum all is: 15

In [37]:
list(range(5))

[0, 1, 2, 3, 4]

In [35]:
list(range(2,5))

[2, 3, 4]

In [ ]:
#Instructors answer
range(5)
sum(range(5))
range(2,7)

In [48]:
def my_func(a,b):
  x = sum(range(a,b+1))
  print(x)
  return x

In [49]:
y = my_func(1,5)

15